<!--===================-->
<!-- Parallax Banner   -->
<!--===================-->
<!-- NOTE: image for parallx banner is written in theme.scss file-->
<!-- image written in styles: parallax-banner1-->
<!--
.full-banner.parallax-banner1 {
    background-image: url(/assets/images/parallax/1.jpg);
}
-->

<section class="p-0">
    <div class="full-banner parallax-banner1 parallax text-center p-left">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="banner-contain">
                        <h2>2021</h2>
                        <h3>fashion trends</h3>
                        <h4>special offer</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>