<!--===============-->
<!-- HOME COMPONENT-->
<!------------------->
<!-- /shop/home    -->

<!------------>
<!-- SIDEBAR -->
<!------------>
<app-slider></app-slider>

<!----------------------->
<!-- COLLECTION BANNER -->
<!----------------------->
<!-- CATEGORY API: male/female -->
<app-collection-banner></app-collection-banner>

<!----------------------->
<!-- PRODUCT SLIDER ----->
<!----------------------->
<!-- pass products from api using property binding[]-->
<!--  [products]="products" -->
<app-product-slider [products]="products"></app-product-slider>

<!----------------------->
<!-- PARALLAX BANNER ---->
<!----------------------->
<!-- 2021 fashion trends background parallax banner-->
<app-parallax-banner></app-parallax-banner>

<!----------------------->
<!-- PRODUCT TAB       -->
<!----------------------->
<!-- pass products from api using property binding[]-->
<!--  [products]="products" -->
<app-product-tab [products]="products"></app-product-tab>

<!----------------------->
<!-- LOGOs--------------->
<!----------------------->
<!-- Brand Logo API-->
<app-logo></app-logo>