<!--============-->
<!-- LOGIN PAGE -->
<!--============-->

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>customer's login</h2>
                </div>
            </div>
        
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/home/shop">Home</a></li>
                        <li class="breadcrumb-item active" >login</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="login-page section-b-space">
    <div class="container">
        <div class="row">
            <!------------------>
            <!-- LOGIN TAB -->
            <!--==============-->
            <div class="col-lg-6">
                <h3>Login</h3>
                <div class="theme-card">    

                    <!--============-->
                    <!-- LOGIN FORM -->
                    <!--============-->
                    <div class="row">
                        <div class="col-sm-12">
                            
                            <form class="theme-form" [formGroup]="loginForm" (ngSubmit)="login()">
                                <div class="form-row">
                                    
                                    <!-- EMAIL -->
                                    <div class="col-md-12">
                                        <label for="email">Email</label>
                                        <input type="email" class="form-control" formControlName="userName" placeholder="Enter your Email">
                                    </div>
                   
                                    <!-- PASSWORD -->
                                    <div class="col-md-12">
                                        <label for="password">Password</label>
                                        <input type="password" class="form-control" formControlName="password" placeholder="Enter your password">
                                    </div>
                                    
                                    <!-- SUBMIT BUTTON -->
                                    <div class="col-md-12">
                                        <button class="btn btn-solid" type="submit">Login</button>
                                    </div>

                                </div>
                            </form>
                            <!-- LOGIN FORM END -->

                        </div>
                    </div>
                </div>
            </div>
            

            <!------------------>
            <!-- REGISTER TAB -->
            <!--==============-->
            <div class="col-lg-6 right-login">
                <h3>New Customer</h3>
                <div class="theme-card authentication-right">
                    <h6 class="title-font">Create A Account</h6>
                    <p>Sign up for a free account at our store. Registration is quick and easy. It allows you to be able to order from our shop. To start shopping click register.</p>
                    <button class="btn btn-solid" routerLink="/pages/register">Create an Account</button>
                </div>
            </div>
        </div>
    </div>
</section>