<!--============-->
<!-- SETTINGS   -->
<!--============-->

 <!-- For language TRANSLATOR settings  --> 
 <div class="icon-nav"> 
    <ul> 
        <!--_______________________-->
        <!---- LANGUAGE SETTINGS ---->
        <li class="onhover-div mobile-setting"> 
            <div>
                <img src="assets/images/icon/setting.png" class="img-fluid" alt=""> <i class="ti-settings"></i>
            </div> 

            <!--Dropdown on hover -->
            <div class="show-div setting"> 
                <h6>language</h6> 
                <ul> 
                    <li><a (click)="changeLanguage('en')">English</a> </li> 
                    <li><a (click)="changeLanguage('hi')">Hindi</a> </li> 
                </ul> 
            </div> 
        </li> 


        <!--_______________________-->
        <!----- SHOPPING CART      -->
        <!--_______________________-->
        <li class="onhover-div mobile-cart"> 
            <div>
                <a routerLink="/home/cart">
                    <img src="assets/images/icon/cart.png" class="img-fluid" alt=""> <i class="ti-shopping-cart"></i>
                </a>
            </div> 

            <!--Dropdown on hover -->
            <div class="show-div shopping-cart"> 
                <ul> 
                    <h5>Your cart is currently empty.</h5>
                </ul> 
            </div> 
        </li> 

    </ul> 
</div>