<!--============-->
<!-- Copyrights -->
<!--============-->

<div class="row"> 
    <div class="col-xl-6 col-md-6 col-sm-12"> 
        <div class="footer-end"> 
            <p>
                <i class="fa fa-copyright" aria-hidden="true"></i>
                {{today |date:'y'}} Sahosoft Mall powered by Sahosoft Pvt.Ltd.
            </p> 
        </div> 
    </div> 
    <div class="col-xl-6 col-md-6 col-sm-12"> 
        <div class="payment-card-bottom"> 
            <!-- [routerLink]="" :to redirect to same page-->
            <ul> 
                <li> 
                    <a href="https://www.visa.co.in/" target="_blank">
                        <img src="assets/images/icon/visa.png" alt="">
                    </a> 
                </li> 
                <li> 
                    <a href="https://www.mastercard.co.in/en-in.html"  target="_blank">
                        <img src="assets/images/icon/mastercard.png" alt="">
                    </a> 
                </li> 
                <li> 
                    <a href="https://www.paypal.com/in/home"  target="_blank">
                        <img src="assets/images/icon/paypal.png" alt="">
                    </a> 
                </li> 
                <li> 
                    <a href="https://www.americanexpress.com/en-in/"  target="_blank">
                        <img src="assets/images/icon/american-express.png" alt="">
                    </a> 
                </li> 
                <li> 
                    <a href="https://www.discover.com/"  target="_blank">
                        <img src="assets/images/icon/discover.png" alt="">
                    </a> 
                </li> 
            </ul> 
        </div> 
    </div> 
</div>